.bar-group{
  background: #eee;
  height: 100px;
  padding:10px;
}
div.bar {
	width: 30px;
	height: 30px;
	background-color: gold;
	margin-bottom: 5px;
    transition: 1s width, 1s background-color;
}

.item1:hover{
    width:500px;
    background-color: red;
}

.item2:hover{
    width:900px;
    background-color: red;
}

.item3:hover{
    width:700px;
    background-color: red;
}